/.vscode
/1bg.txt
/1d1d.txt
/1d1dwog.txt
/1d1l.txt
/1d1l2.txt
/1d2d.txt
/1m1d.txt
/1m1l.txt
/a10.py
/a2.py
/a3.py
/a4.py
/a5.py
/a9.py
/b1.py
/b2.py
/b3.py
/CO2Emissions_filtered.csv
/destinations.py
/Friends quiz
/FriendsProject.py
/MA2test.txt
/ma2testing.txt
/OU4A.py
/OU4B.py
/OU4C.py
/population.csv
/PT2
/season
/smallvector.py
/tentatest.py
/test.py
/trafficComponents.py
/trafficSystem.py
/trafficSystem0.py
/__pycache__